<section id="aerial-photography"{{#ifpage 'aerial-photography'}} class="active"{{/ifpage}}{{#unlesspage 'aerial-photography'}} onclick="location.href='{{root}}aerial-photography.html'"{{/unlesspage}}>

    {{#ifpage 'aerial-photography'}}
    <div class="section-content">
        <h1>
            <span class="aerial-photography-icon"></span>
            aerial photography
        </h1>
        <div class="content">
            <p>Sky is not the limit anymore. Our skilled certified pilots are ready to take off and capture those moments you wish to remember forever from a different angle.</p>
            <p>Photos and footage from weddings, parties, teambuilding events or those extreme sports you're into are just examples.</p>
            <p><a href="javascript:void(0);" class="contact" onclick="zE.activate({hideOnClose: true});"><span class="fa fa-envelope-o"></span>contact us</a></p>
        </div>
    </div>
    {{/ifpage}}
    <div class="section-logo{{#ifpage 'aerial-photography'}} show-for-medium{{/ifpage}}">
        <div class="icon">
            <a href="{{root}}aerial-photography.html">
                <span class="aerial-photography-icon"></span>
                <span class="hide-for-large">aerial photography</span>
            </a>
        </div>
    </div>
</section>
