{{#ifpage 'aerial-photography'}}
<div id="aerial-photography" class="background-photo active">
    <header>
        <h1>Aerial Photography</h1>
    </header>
    <div class="content">
        <p>The sky is no longer the limit. Our certified skilled pilots are ready to take off and capture those moments you wish to remember forever, from a whole new angle.</p>
        <p>We can help you capture photos and footage from weddings, parties, team building events etc.</p>
        <p><a href="{{root}}/contact.html" class="contact"><span class="icon-mail"></span>contact us</a></p>
    </div>
</div>
{{/ifpage}}{{#unlesspage 'aerial-photography'}}
<div id="aerial-photography" class="background-photo" onclick="window.location.href='{{root}}aerial-photography.html'">
    <a href="{{root}}aerial-photography.html" title="Aerial Photography">Aerial Photography</a>
</div>
{{/unlesspage}}
