<section id="contact"{{#ifpage 'contact'}} class="active"{{/ifpage}}{{#unlesspage 'contact'}} onclick="window.location.href='{{root}}contact.html'"{{/unlesspage}}>
    {{#unlesspage 'contact'}}
        <a href="{{root}}contact.html" title="Contact">Contact</a>
    {{/unlesspage}}
    {{#ifpage 'contact'}}
    <header>
        <h1>Contact</h1>
    </header>
    <div class="content">
        <p>We're here to help you if you need assistance. Strangers are welcome!</p>
        <p><strong class="standout">Please follow the steps below to get the best results:</strong></p>
        <ol>
            <li>Send all available information to <a href="mailto:support@tacticmedia.com.au" class="standout"><i class="icon-mail"></i>support@tacticmedia.com.au</a></li>
            <li>If you don't need an immediate response, you're done</li>
            <li style="padding-top:0.5rem">If you need urgent attention
                <ol>
                    <li>call the phone number in your service agreement,</li>
                    <li>or, if you don't have a service agreement, please call <a href="callto://+61742434176" class="standout"><i class="icon-phone"></i>0742 434 176</a></li>
                </ol>
            </li>
        </ol>
        <p>All emails sent to the support e-mail address will be assigned a unique number you can refer to at any time in the future.</p>
        <p class="no-margin-top">We invite you to use our web-based support portal to view and manage your requests <a href="https://support.tacticmedia.com.au"><i class="icon-globe"></i>https://support.tacticmedia.com.au</a>.</p>
    </div>
    {{/ifpage}}
</section>