<section id="contact"{{#ifpage 'contact'}} class="active"{{/ifpage}}{{#unlesspage 'contact'}} onclick="location.href='{{root}}contact.html'"{{/unlesspage}}>
    {{#ifpage 'contact'}}
    <div class="section-content">
        <h1>
            <i class="fa fa-fw fa-2x fa-envelope-o hide-for-large"></i>
            contact
        </h1>
        <div class="content">
            <p>If you are our customer with a support service argeement and need urgent assistance, your best way is to contact the number in your contract.</p>
            <p>Having said that, we invite everybody to get in touch with us using the button below. On average, it will take about three business hours to get back to you.</p>
            <p><a href="https://support.tacticmedia.com.au" class="contact"><span class="fa fa-envelope-o"></span>contact us</a></p>
        </div>
    </div>
    {{/ifpage}}
    <div class="section-logo{{#ifpage 'contact'}} show-for-medium{{/ifpage}}">
        <div class="icon">
            <a href="{{root}}contact.html">
                <i class="fa fa-fw fa-2x fa-envelope-o"></i>
                <span class="hide-for-large">contact</span>
            </a>
        </div>
    </div>
</section>
