<footer>
    <div class="container">
        <div class="inner">
            <p onclick="copyToClipboard('31619922977', this);">&copy; 2020 Tactic Media Pty Ltd, ABN 31 619 922 977</p>
            <ul>
                <li{{#ifpage 'software-development'}} class="active"{{/ifpage}}><a href="{{root}}software-development.html">custom software development</a></li>
                <li{{#ifpage 'photography'}} class="active"{{/ifpage}}><a href="{{root}}photography.html">photography</a></li>
                <li{{#ifpage 'aerial-photography'}} class="active"{{/ifpage}}><a href="{{root}}aerial-photography.html">aerial photography</a></li>
                <li{{#ifpage 'redifi'}} class="active"{{/ifpage}}><a href="{{root}}redifi.html">redifi</a></li>
                <li{{#ifpage 'contact'}} class="active"{{/ifpage}}><a href="{{root}}contact.html">contact</a></li>
            </ul>
        </div>
    </div>
</footer>