{{#ifpage 'index'}}
<div id="home" class="active">
    <header>
        <h2>Our team at your service</h2>
    </header>
    <div class="content">
        <p>The main focus at Tactic Media is custom <a href="{{root}}software-development.html">software development</a>.</p>
        <p>We're working with on projects of all sizes, spanning from presentation websites websites to complex systems used by thousands users every day.</p>
        <p>We also offer our services of <a href="{{root}}photography.html">photography</a>, <a href="{{root}}aerial-photography.html">aerial photography</a>, and we operate our own cloud platform called <a href="{{root}}redifi.html">redifi</a>.</p>
        <p><a href="{{root}}/contact.html" class="contact"><span class="icon-mail"></span>contact us</a></p>
    </div>
</div>
{{/ifpage}}{{#unlesspage 'index'}}
<div id="home" onclick="window.location.href='{{root}}index.html'">
    <a href="{{root}}index.html">Our team at your service</a>
</div>
{{/unlesspage}}