<section id="index"{{#ifpage 'index'}} class="active"{{/ifpage}}{{#unlesspage 'index'}} onclick="location.href='/'"{{/unlesspage}}>
    {{#ifpage 'index'}}
    <div class="section-content">
        <h2>our team at your service</h2>
        <div class="content">
            <p>At Tactic Media we strive for excellence in all we do, especially in <a href="{{root}}photography.html">photography</a>, <a href="{{root}}aerial-photography.html">aerial photography</a> and <a href="{{root}}software-development.html">software development</a>.</p>
            <p>We also run a <a href="{{root}}redifi.html">WiFi hotspot system</a> called <a href="{{root}}redifi.html" class="hidelink">Redifi</a>. If you own a business and offer wifi to your visitors, please have a look.</p>
            <p><a href="javascript:void(0);" class="contact" onclick="zE.activate({hideOnClose: true});"><span class="fa fa-envelope-o"></span>contact us</a></p>
        </div>
    </div>
    {{/ifpage}}
    <div class="section-logo">
        <div class="icon">
            <a href="/"><i class="fa fa-fw fa-home"></i></a>
        </div>
    </div>
</section>
