<section id="photography"{{#ifpage 'photography'}} class="active"{{/ifpage}}{{#unlesspage 'photography'}} onclick="location.href='{{root}}photography.html'"{{/unlesspage}}>
    {{#ifpage 'photography'}}
    <div class="section-content">
        <h1>
            <i class="fa fa-fw fa-2x fa-camera-retro hide-for-large"></i>
            photography
        </h1>
        <div class="content">
            <p>There is and endless world out there; and that needs capturing. We supply creative minds to help portray your occasion or message.</p>
            <p>We then take beautiful well thought out images and get them ready for you to use. Alternatively  you can request to look at our stock portfolio.</p>
            <p><a href="https://support.tacticmedia.com.au" class="contact"><span class="fa fa-envelope-o"></span>contact us</a></p>
        </div>
    </div>
    {{/ifpage}}
    <div class="section-logo{{#ifpage 'photography'}} show-for-medium{{/ifpage}}">
        <div class="icon">
            <a href="{{root}}photography.html">
                <i class="fa fa-fw fa-2x fa-camera-retro"></i>
                <span class="hide-for-large">photography</span>
            </a>
        </div>
    </div>
</section>
