{{#ifpage 'photography'}}
<div id="photography" class="background-photo active">
    <header>
        <h2>Photography</h2>
    </header>
    <div class="content">
        <p>There is and endless world out there; and that needs capturing. We supply creative minds to help portray your occasion or message.</p>
        <p>We then take beautiful well thought out images and get them ready for you to use. Alternatively you can request to look at our stock portfolio.</p>
        <p><a href="{{root}}/contact.html" class="contact"><span class="icon-mail"></span>contact us</a></p>
    </div>
</div>
{{/ifpage}}{{#unlesspage 'photography'}}
<div id="photography" class="background-photo" onclick="window.location.href='{{root}}photography.html'">
    <a href="{{root}}photography.html" title="Photography">Photography</a>
</div>
{{/unlesspage}}