<section id="photography"{{#ifpage 'photography'}} class="active"{{/ifpage}}{{#unlesspage 'photography'}} onclick="location.href='{{root}}photography.html'"{{/unlesspage}}>
    {{#ifpage 'photography'}}
    <div class="section-content">
        <h2>photography</h2>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nostrum, veniam cum, fuga facilis recusandae in quia maxime molestias nesciunt deleniti placeat veritatis, pariatur et voluptate hic magnam debitis vero.</p>
            <p><a href="{{root}}contact.html" class="contact"><span class="fa fa-envelope-o"></span>contact us</a></p>
        </div>
    </div>
    {{/ifpage}}
    <div class="section-logo">
        <div class="icon">
            <a href="{{root}}photography.html"><i class="fa fa-fw fa-camera"></i></a>
        </div>
    </div>
</section>
