<section id="redifi"{{#ifpage 'redifi'}} class="active"{{/ifpage}}{{#unlesspage 'redifi'}} onclick="location.href='{{root}}redifi.html'"{{/unlesspage}}>
    {{#ifpage 'redifi'}}
    <div class="section-content">
        <h1>
            <img class="hide-for-large redifi" src="{{root}}assets/img/redifi.png" srcset="{{root}}assets/img/redifi@2x.png 2x" width="50" alt="">
            redifi
        </h1>
        <div class="content">
            <p>Redifi is a hassle-free WiFi hotspot service for businesses seeking to stay in touch with their customers, even after they leave.</p>
            <p>Thanks to Redifi it’s easy to re-engage your customers, they will be able to see your promotions and stay up to date with new products, in turn come back for another visit and increase your sales.</p>
            <p><a href="https://redifi.net" class="contact" onclick="return !window.open(this.href)"><span class="fa fa-external-link"></span>read more at redifi.net</a></p>
        </div>
    </div>
    {{/ifpage}}
    <div class="section-logo{{#ifpage 'redifi'}} show-for-medium{{/ifpage}}">
        <div class="icon">
            <a href="{{root}}redifi.html">
                <img src="{{root}}assets/img/redifi.png" srcset="{{root}}assets/img/redifi@2x.png 2x" width="50" class="redifi" alt="">
                <span class="hide-for-large">redifi</span>
            </a>
        </div>
    </div>
</section>
