<section id="redifi"{{#ifpage 'redifi'}} class="active"{{/ifpage}}{{#unlesspage 'redifi'}} onclick="location.href='{{root}}redifi.html'"{{/unlesspage}}>
    {{#ifpage 'redifi'}}
    <div class="section-content">
        <h2>Redifi</h2>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nostrum, veniam cum, fuga facilis recusandae in quia maxime molestias nesciunt deleniti placeat veritatis, pariatur et voluptate hic magnam debitis vero.
        </div>
    </div>
    {{/ifpage}}
    <div class="section-logo">
        <div class="icon">
            <a href="{{root}}redifi.html"><i class="fa fa-fw fa-wifi"></i></a>
        </div>
    </div>
</section>
