<section id="software-development"{{#ifpage 'software-development'}} class="active"{{/ifpage}}{{#unlesspage 'software-development'}} onclick="location.href='{{root}}software-development.html'"{{/unlesspage}}>

    {{#ifpage 'software-development'}}
    <div class="section-content">
        <h1>
            <i class="fa fa-fw fa-code hide-for-large"></i>
            software development
        </h1>
        <div class="content">
            <p>We say we are web developers, but software development using web-based technologies is no longer limited to running your app in a web browser.</p>
            <p>We'd love to hear your idea of a new site or application. Or would you rather like to have an unbiased 3rd party to oversee your development team?</p>
            <p><a href="javascript:void(0);" class="contact" onclick="zE.activate({hideOnClose: true});"><span class="fa fa-envelope-o"></span>contact us</a></p>
        </div>
    </div>
    {{/ifpage}}
    <div class="section-logo">
        <div class="icon">
            <a href="{{root}}software-development.html">
                <i class="fa fa-fw fa-code"></i>
                <span class="hide-for-large">software development</span>
            </a>
        </div>
    </div>
</section>
