<section id="software-development"{{#ifpage 'software-development'}} class="active"{{/ifpage}}{{#unlesspage 'software-development'}} onclick="location.href='{{root}}software-development.html'"{{/unlesspage}}>

    {{#ifpage 'software-development'}}
    <div class="section-content">
        <h2>Software Development</h2>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nostrum, veniam cum, fuga facilis recusandae in quia maxime molestias nesciunt deleniti placeat veritatis, pariatur et voluptate hic magnam debitis vero.
        </div>
    </div>
    {{/ifpage}}
    <div class="section-logo">
        <div class="icon">
            <a href="{{root}}software-development.html"><i class="fa fa-fw fa-code"></i></a>
        </div>
    </div>
</section>
