<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="robots" content="index,follow">
    <meta name="description" content="Tactic Media - Custom Software Development, Photography, Redifi.">
    <meta name="author" content="{{root}}humans.txt">
    <link rel="icon" href="{{root}}/assets/img/tactic-media-logo-favicon.svg">
    <link rel="mask-icon" href="{{root}}/assets/img/tactic-media-logo-favicon.svg" color="#000000">
    <link rel="stylesheet" href="{{root}}assets/css/app.css?v=1">
    <style>body,html{width:100%;height:100%;overflow-x: hidden;background:white;color:#0a0a0a}#wrapper{background:#0a0a0a;color:white}body>header,body>footer{color:#0a0a0a;background:white}main>section{background:#0a0a0a top center no-repeat;color:white;background-size: cover}</style>
  </head>
  <body>
    <div id="wrapper">{{> body }}</div>
    <script src="{{root}}assets/js/app.js?v=1" async></script>
    {{> ga }}
  </body>
</html>
