<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="robots" content="noindex,follow">
    <meta name="description" content="Tactic Media - Photography, Aerial photography, Software development and Redifi operator in Australia">
    <meta name="author" content="{{root}}humans.txt">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/vcard.css">
  </head>
  <body>
    <div id="wrapper">
        {{> body }}
    </div>
  </body>
</html>